@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.support-section {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #222;
    font-family: "Inter";
    font-weight: 700;
    color: #d6d6d6;
} 
* {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    color: #333;
    
    font-size: 16px;
    line-height: 1.5;
}

.containerF {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.support-top-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
}
@media screen and (max-width: 1000px){
    .support-top-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }}
.support-top-left {
    flex-direction: column;
    display: flex;
}
.support-top-details-text {
    text-transform: uppercase;
}
.support-top-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1.2;
}
.support-top-right {
    width: 45%;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
.support-wrapper {
    justify-content: space-between;
    display: flex;
}
@media screen and (max-width: 1000px){
.support-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}}

.support-column {
    width: 30%;
    min-height: 200px;
    position: relative;
}
@media screen and (max-width: 1000px){
    .support-column {
        
        width: 30%;
        min-width: 80%;
    }}

.support-square {
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    margin-bottom: 45px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.support-square:hover {
    background-color: rgb(41, 41, 41);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1000px){
    .support-square {
       min-width: 100%;
       left: auto;
       
    }}

.support-square-number {
    color: #f9f9f9;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 10%;
    bottom: auto;
    left: 10%;
    right: auto;
}

.support-square-text {
    color: #f9f9f9;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 300px;
}