.container {
    padding-left: 15px;
    padding-right: 15px;
  }

  * {
    box-sizing: border-box;
  }


 body {
    color: #333;
    font-family: Sen, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.hero-section {
  position: relative;
    background-image: linear-gradient(360deg, #222 6%,
     rgba(34, 34, 34, 0)), url("https://assets-global.website-files.com/662a444b5e5de1b24296cd35/662b17dd97da13889d930fb2_Onibus(2)%20(1).jpg");
     background-position: center;
     background-size: cover;
     min-height: 810px;
}

@media (max-width: 800px){
  .hero-section{
    background-repeat: no-repeat;
       background-position: left;
       background-size: auto 150%;
  }
  }



.hero-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 600px;
  display: flex;
  margin-left:-10%;
}

.hero-heading {
    color:aliceblue;
    width: 35%;
    font-size: 62px;
    line-height: 1.2;
    min-width: 400px;
    text-align: left;
}

.hero-paragraph {
    color:aliceblue;
    width: 35%;
    margin-bottom: 25px;
    font-size: 18px;
    max-width: 1000px;
    text-align: justify;
    text-justify: inter-word;
    min-width: 370px;
}
@media(max-width: 1220px){
  .hero-paragraph {
    color:aliceblue;
    margin-bottom: 25px;
    font-size: 18px;
    min-width: 370px;
    
}
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.btn-light-outline-w-button {
position: relative;
animation-name: menu;
animation-duration: 1s;
transition: 100ms;
font-family: Sen, sans-serif;
font-size: 16px;
margin-left: 7%;
box-sizing: border-box;
line-height: inherit;
cursor: pointer;
text-decoration: none;
display: inline-block;
border: 1px solid white;
border-radius: 5px;
padding: 5px 25px;
font-weight: 700;
transition: border-color .3s, background-color .3s;
border-color: rgb(252, 215, 7);
background-color: rgba(255, 255, 255, 0);
color:aliceblue;
}
.btn-light-outline-w-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  }

  @media(max-width: 1220px){
    .btn-light-outline-w-button {
      margin-left: 81.8906px;
    }
  }

  .radial {
    min-width: 400px;
    max-width: 400px;
    max-height: 300px;
    background-size: cover;
    background-image: radial-gradient(#222 6%,
     rgba(34, 34, 34, 0));
    }