.container {
    padding-left: 15px;
    padding-right: 15px;
  }

  * {
    box-sizing: border-box;
  }

  div {
    display: block;
}

 body {
    color: #333;
    font-family: Sen, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.hero-section {
    background-image: linear-gradient(360deg, #222 6%,
     rgba(34, 34, 34, 0)), url("https://assets-global.website-files.com/662a444b5e5de1b24296cd35/662b17dd97da13889d930fb2_Onibus(2)%20(1).jpg");
    background-position: 0 0, 50%;
    background-size: auto, cover;
    min-height: 550px;
}
.hero-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 550px;
  display: flex;
}

.hero-heading {
    color:aliceblue;
    width: 35%;
    font-size: 62px;
    line-height: 1.2;

}

.hero-paragraph {
    color:aliceblue;
    width: 35%;
    margin-bottom: 25px;
    font-size: 18px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.btn-light-outline-w-button {
font-family: Sen, sans-serif;
font-size: 16px;
margin-left: 11%;
box-sizing: border-box;
line-height: inherit;
cursor: pointer;
text-decoration: none;
display: inline-block;
border: 1px solid white;
border-radius: 5px;
padding: 5px 25px;
font-weight: 700;
transition: border-color .3s, background-color .3s;
border-color: rgb(252, 215, 7);
background-color: rgba(255, 255, 255, 0);
color:aliceblue;
}